<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="icon" href="/images/weather.png">
    <title>About Weather App</title>
  </head>
  <body>
    <main>
    {{>header}}
    
    <figure>
    <img
      src='/images/pic1.jpg'
      alt='Black and White picture of developer.'
      class='headshot'
    />
    <figcaption>Stephen Lyssy</figcaption>
    </figure>
    <p class="aboutParagraph">Welcome to the about section for my weather app. This application is my first attempt at deploying a node.js application. It uses data from mapbox.com and weatherstack.com. It was created using the following.</p>
    <div id="menu-outer">
  <div class="table">
    <div id="aboutList">
      <p>Node.js</p>
      <p>Express</p>
      <p>JavaScript</p>
      <p>HTML</p>
      <p>CSS</p>
    </div>
    </div>
</div>
    </main>
    <footer>
      {{>footer}}
    </footer>
  </body>
</html>