<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="icon" href="/images/weather.png">
    <title>About Weather App</title>
  </head>
  <body>
    <main>
    {{>header}}
    <figure>
    <img
      src='/images/pic1.jpg'
      alt='Black and White picture of developer.'
      class='headshot'
    />
    <figcaption>Stephen Lyssy</figcaption>
    </figure>
    </main>
    <footer>
      {{>footer}}
    </footer>
  </body>
</html>