<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='stylesheet' href='/css/styles.css' />
     <link rel="icon" href="/images/weather.png">

    <script src='/js/app.js' defer></script>
   
    <title>Weather App</title>
  </head>

  <body>
    <main>
    {{>header}}
    <h3>Enter an address to get the current weather conditions.</h3>
    <form>
    <input class="addressInput" type="text" placeholder="Enter Address or Location">
    <button class="submit__button">Submit</button>
    </form>
    <p class="error__msg"></p>
    <h4 class="address__msg"></h4>
    <p class="forecast__msg"></p>
    </main>
    <footer>
      {{>footer}}
    </footer>
  </body>
</html>